.card-content, .card {
  transition: "size" "1s";
  -o-transition: "size" "1s";
  -moz-transition: "size" "1s";
  -webkit-transition: "size" "1s";
  transition: "padding" "1s";
  -o-transition: "padding" "1s";
  -moz-transition: "padding" "1s";
  -webkit-transition: "padding" "1s";
  transition: "opacity" "1s";
  -o-transition: "opacity" "1s";
  -moz-transition: "opacity" "1s";
  -webkit-transition: "opacity" "1s";
  transition-timing-function: cubic-bezier(0.68, 0.01, 0.38, 0.99);
  -o-transition-timing-function: cubic-bezier(0.68, 0.01, 0.38, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.68, 0.01, 0.38, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.68, 0.01, 0.38, 0.99); }

/*# sourceMappingURL=index.css.map */
