@mixin transitionTiming($x1, $y1, $x2, $y2)
{
  transition-timing-function: cubic-bezier($x1, $y1, $x2, $y2);
  -o-transition-timing-function: cubic-bezier($x1, $y1, $x2, $y2);
  -moz-transition-timing-function: cubic-bezier($x1, $y1, $x2, $y2);
  -webkit-transition-timing-function: cubic-bezier($x1, $y1, $x2, $y2);
}
@mixin transition($element, $length)
{
  transition: $element $length;
  -o-transition: $element $length;
  -moz-transition: $element $length;
  -webkit-transition: $element $length;
}

.card-content {
  @include transition("size", "1s");
  @include transition("padding", "1s");
  @include transition("opacity", "1s");
  @include transitionTiming(.68, .01, .38, .99);
}

.card {
  @extend .card-content;
}