div#per5 {
  display: none;
}

div#per6 {
  display: none;
}

$font_stack: "Roboto", "Arial", sans-serif;

.suggestion {
  font-family: $font_stack;
}

.suggestor {
  @extend .suggestion;
  font-style: italic;
}