div#per5 {
  display: none; }

div#per6 {
  display: none; }

.suggestion, .suggestor {
  font-family: "Roboto", "Arial", sans-serif; }

.suggestor {
  font-style: italic; }

/*# sourceMappingURL=results.css.map */
